@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Extralight.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("GraphikLCG-Super.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'GraphikLCG', 'SF Pro Display', sans-serif;
}